.container.nav-container
  .nav-bar
    .navbar-header
      .navbar-brand
        .text Teresa Krause
    ul.nav.navbar-nav
      li 
        a link
      li 
        a also a link
.container
  .jumbotron
    p I AM BIG